![Picture1.png]()

# **Example:  dsl-spa complex natural language interaction with a pandas dataframe**

This example shows that while natural language interaction with a dataset, i.e. a pandas dataframe or an sql database, can work fine for simple requests of the data, when queries become more complex a request to an LLM does not return a result.  [dsl-spa](https://github.com/superwise-ai/dsl-spa) is an open source capability that in addition to other capabilities addresses this problem.

In this example, we will interact with a simple dataframe using an LLM.  We will show the challenge with a complex query.  Then employ dsl-spa to address this challenge.  Let's get started!

#**Ask simple and more complex natural language questions of a Pandas Dataframe**

**Load the dataframe**
For this illustration we created a simple pandas dataframe that consists of look ups of letters in the alphabet and look ups of the phoenetic word for the alphabet.

In [3]:
import pandas as pd

In [4]:
alpha_phonetic_pd = pd.DataFrame({
    'col1' : [1,2,3,4,5,6,7,8,9,10],
    'col2' : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'col3' : [10,9,8,7,6,5,4,3,2,1],
    'col4' : ['Juliett', 'India', 'Hotel', 'Gulf', 'Foxtrot', 'Echo', 'Delta', 'Charlie', 'Bravo', 'Alpha']
})

In [5]:
alpha_phonetic_pd.head()

   col1 col2  col3     col4
0     1    A    10  Juliett
1     2    B     9    India
2     3    C     8    Hotel
3     4    D     7     Gulf
4     5    E     6  Foxtrot

Using Pandas is outside the scope of this Example but there are easy things you can do with Pandas

In [ ]:
#find the unique values for a particular column
alpha_phonetic_pd['col4'].unique()

array(['Juliett', 'India', 'Hotel', 'Gulf', 'Foxtrot', 'Echo', 'Delta',
       'Charlie', 'Bravo', 'Alpha'], dtype=object)

In [ ]:
#get the maximum value for a particular column
alpha_phonetic_pd['col3'].max()

10

**Use a standard llm package to use natural language to ask questions**. In this case we will use Pandas AI and OpenAI for the LLM.  But, there are many packages and LLMs

In [ ]:
!pip install "pandasai>=3.0.0b2" --quiet
!pip install pandasai-openai --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 2.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.9/58.9 kB 3.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.6/78.6 kB 4.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 53.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 107.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.3/18.3 MB 85.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 69.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.0/38.0 MB 12.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 18.6 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
opencv-python-headless 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
cvxpy 1.6.6 requires scipy>=1.11.0, but you have scipy 1.10.1 which is incompatible.
bigframes 2.10.0 requires pyarrow>=15.0.2, but you have pyarrow 14.0.2 which is incompatible.
thinc 8.3.6 requires numpy<3.0.0,>=2.0.0, but you have numpy 1.26.4 which is incompatible.
xarray-einstats 0.9.1 requires scipy>=1.11, but you have scipy 1.10.1 which is incompatible.
scikit-image 0.25.2 requires scipy>=1.11.4, but you have scipy 1.10.1 which is incompatible.
plotnine 0.14.6 requires matplotlib>=3.8.0, but you have matplotlib 3.7.5 which is incompatible.
jax 0.5.2 requires scipy>=1.11.1, but you have scipy 1.10.1 which is incompatible.
tsfresh 0.21.0 requires scipy>=1.14.0; python_version >= "3.10", but you have scipy 1.10.1 which is incompatible.
jaxlib 0.5.1 requires scipy>=1.11.1, but you have scipy 1.10.1 which is incompatible.

In [ ]:
import pandasai as pai
from pandasai_openai.openai import OpenAI

In [ ]:
llm = OpenAI("<your Open AI Key>")

In [ ]:
pai.config.set({
    "llm": llm
})

In [ ]:
#now lets load the same dataframe as a pandasAI dataframe
pai_alpha_phonetic_pd = pai.DataFrame({
    'col1' : [1,2,3,4,5,6,7,8,9,10],
    'col2' : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'col3' : [10,9,8,7,6,5,4,3,2,1],
    'col4' : ['Juliett', 'India', 'Hotel', 'Gulf', 'Foxtrot', 'Echo', 'Delta', 'Charlie', 'Bravo', 'Alpha']
})

In [ ]:
#Now lets ask some questions similar to the above
pai_alpha_phonetic_pd.chat("List the unique values in col4")

DataFrameResponse(type='dataframe', value=      col4
0    India
1     Echo
2  Charlie
3  Juliett
4    Hotel
5     Gulf
6  Foxtrot
7    Delta
8    Bravo
9    Alpha)

In [ ]:
pai_alpha_phonetic_pd.chat("what is the largest number in Col3")

NumberResponse(type='number', value=np.int64(10))

**Now lets add a pipeline of things**
For instance, in this case, I want to input a value from col1.  For whatever that value is, I want to find the same value in col3.  Then I want to return the value in col4 for the associated row.

In [6]:
#if you know pandas, you can write a function fairly easily to do this
def find_and_return_col4(df, col1_value):
  match_row = df[df['col3'] == col1_value]
  if not match_row.empty:
    return match_row['col4'].iloc[0]
  else:
    return None

In [7]:
#test out the function
find_and_return_col4(alpha_phonetic_pd, 1)

'Alpha'

In [ ]:
#try using the llm
pai_alpha_phonetic_pd.chat("when col1 equals 1, what is the col4 row value where col3 equals col1")

InvalidOutputValueMismatch: Invalid output: Expected a string value for result type 'string', but received a non-string value.

In [ ]:
#hmmm ok, that did not work, maybe I can try and ask the question in a better way
pai_alpha_phonetic_pd.chat("when col1 equals 1, what is the col4 row value")

StringResponse(type='string', value='Juliett')

In [ ]:
#ok, that is worse, now it is giving a wrong answer

In [ ]:
#let me try one more time
pai_alpha_phonetic_pd.chat("if col1 equals 1, what is the value in col4 when col3 equals col1")

StringResponse(type='string', value='')

In [ ]:
#ok that is not true, let me try one more time
pai_alpha_phonetic_pd.chat("when col1 equals 1, for the col3 row number where the col1 value equals col3, what is the col4 value")

StringResponse(type='string', value='Alpha')

**So for a simple query, an LLM worked fine, but for anything that required some type of pipeline of commands, even though a simple function in pandas would give the answer, I could not come up with natural language that the llm could use to generate that sequence**

**This is where dsl-spa comes in.  dsl-spa provides the ability for a data engineer to easily create a structure to answer known complex requirements while still using natural language as an interface**

#**Create the domain specific language and structured pipeline using dsl-spa**

**set up the dsl-spa structured pipeline**

In [1]:
!pip install dsl-spa --quiet

So, lets think what we are trying to do.  We want to be able to input a value.  In this case it is a value in col1.  If we have the col1 value that we can extract from natural language, then we can create a structured pipeline.  So, in this case, col1, is the field we need as input, and something we can easily extract from natural language using an LLM.  We will go back and create that agent further down in this notebook, but let's create that col1 field

In [2]:
#import the standard pipeline
from dsl_spa.pipeline.pipeline import StandardPipeline
from dsl_spa.utils.schema import PipelineField, StandardPipelineSchema

In [15]:
#define the field in dsl-spa
column_1 = PipelineField(field_name = "col1",
                         field_type = "string",
                         required = True,
                         description = "Input by the user")

In [16]:
#define the pipeline (we'll call it "My_Pipeline") and add that field to the pipeline we are going to use
pipeline = StandardPipelineSchema(pipeline_name = "My_Pipeline", fields = [column_1], datasets = [], queries = [], csvs = [], scope = "", scope_description = "")
pipeline.get_schema()

{'pipeline_name': 'My_Pipeline',
 'scope': '',
 'scope_description': '',
 'fields': {'base': {'col1': {'name': 'col1',
    'type': 'string',
    'required': True,
    'description': 'Input by the user'}}}}

So the above shows us our new dsl-spa pipeline called 'My_Pipeline' and we have a field called 'col1'

Let's test the pipeline by inputting a value and making sure it shows in the pipeline

In [8]:
from dsl_spa.pipeline.pipeline import StandardPipeline

In [17]:
#input a value of 5 for col1
my_schema = pipeline.get_schema()
my_practice_fields = {"col1" : 5}
my_pipeline = StandardPipeline(fields_input_dict = my_practice_fields, json_schema = my_schema, connectors = None, functions = None)
# Runs the pipeline
my_pipeline.initialize_data()
my_pipeline.process_data()
my_pipeline.get_field("base.col1")

5

Ok, cool, so now we see that when an Agent sets a field to "5", the structured pipeline will see that value for the field

Now lets add the data to the pipeline.  dsl-spa supports both a query and a csv as ways to add data to the pipeline.  Since we have a dataframe, we can easily write that to a csv that we can use

In [9]:
# prompt: write alpha_phonetic_pd to a csv
alpha_phonetic_pd.to_csv('alpha_phonetic.csv', index=False)

Now lets add that csv to our structured pipeline

In [10]:
from dsl_spa.utils.schema import CSV

In [13]:
csv = CSV(csv_name = "alpha_phonetic", connector_name = "csv_connector", filename = "alpha_phonetic.csv")
#no filter needed for this use case but could use to filter the data, this is useful in other scenarios
#csv.add_column_filter(field_name = "base.customer_name", column_name = "Customer", value = "{base.customer_name}")
csv.generate_schema()

{'name': 'alpha_phonetic',
 'connector': 'csv_connector',
 'csv_name': 'alpha_phonetic.csv'}

In [18]:
#add the csv schema to the pipeline
pipeline = StandardPipelineSchema(pipeline_name = "My_Pipeline", fields = [column_1], datasets = [], queries = [], csvs = [csv], scope = "", scope_description = "")
pipeline.get_schema()

{'pipeline_name': 'My_Pipeline',
 'scope': '',
 'scope_description': '',
 'fields': {'base': {'col1': {'name': 'col1',
    'type': 'string',
    'required': True,
    'description': 'Input by the user'}}},
 'csvs': [{'name': 'alpha_phonetic',
   'connector': 'csv_connector',
   'csv_name': 'alpha_phonetic.csv'}]}

Great.  Now lets connect the csv to that pipeline

In [19]:
from dsl_spa.pipeline.connector import LocalCSVConnector

In [20]:
#adding the csv and checking to see that it worked
connector = LocalCSVConnector(folder="./")
connector_dict = {"csv_connector": connector}
my_schema = pipeline.get_schema()
my_practice_fields = {"col1" : 5}
my_pipeline = StandardPipeline(fields_input_dict = my_practice_fields, json_schema = my_schema, connectors = connector_dict, functions = None)
# Runs the pipeline
my_pipeline.initialize_data()
my_pipeline.process_data()
print(my_pipeline.queries.keys()) # prints the name of the csvs/queries in the pipeline
my_pipeline.queries["alpha_phonetic"] # prints the dataframe of the csv

dict_keys(['alpha_phonetic'])

   col1 col2  col3     col4
0     1    A    10  Juliett
1     2    B     9    India
2     3    C     8    Hotel
3     4    D     7     Gulf
4     5    E     6  Foxtrot
5     6    F     5     Echo
6     7    G     4    Delta
7     8    H     3  Charlie
8     9    I     2    Bravo
9    10    J     1    Alpha

OK above you can see that we have one query called "alpha_phonetic".  And when you call it, it loads the dataframe from the alpha_phonetic.csv.  Cool.

Now that we have the input field and the data, we can add the function that returns the answer.  In dsl-spa the return may be more than an answer.  It might be a full set of data that can be summarized or visualized.  So the return is called a dataset.  So lets add the function that returns the dataset

In [21]:
#first for dsl-spa, we have to return a dataframe so let's modify the function slightly
def modified_find_and_return_col4(df, col1_value):
  match_row = df[df['col3'] == col1_value]
  return match_row

Just for clarity: The above function has two inputs, the df which will automatically be loaded by dsl-spa and then the col1_value which is our input field

In [12]:
from dsl_spa.utils.schema import SummaryDataset

Now in dsl-spa, we are create a dataset that returns the summary that in this case is the answer i.e. the row for col4

In [22]:
alpha_phonetic_dataset = SummaryDataset(dataset_name="alpha_phonetic_dataset", summary_by_row="{col4}", empty_dataset="Value not found")
alpha_phonetic_dataset.create_from_query("alpha_phonetic")
fields = {
    "col1_value": "base.col1"
}
alpha_phonetic_dataset.add_function(function_name="find_col_4_value", function_fields_dict=fields)
alpha_phonetic_dataset.generate_schema()

{'name': 'alpha_phonetic_dataset',
 'create': [{'type': 'query', 'name': 'alpha_phonetic'},
  {'type': 'function',
   'name': 'find_col_4_value',
   'fields': {'col1_value': 'base.col1'}}],
 'summarize': '{col4}',
 'remove_comma': False,
 'empty_summary': 'Value not found'}

Note: In the above you can see that the empty_summary is if the col1 value is not in the dataset

Ok great, now lets add this to pipeline schema

In [23]:
pipeline = StandardPipelineSchema(pipeline_name = "My_Pipeline", fields = [column_1], datasets = [alpha_phonetic_dataset], queries = [], csvs = [csv], scope = "", scope_description = "")
pipeline.get_schema()

{'pipeline_name': 'My_Pipeline',
 'scope': '',
 'scope_description': '',
 'fields': {'base': {'col1': {'name': 'col1',
    'type': 'string',
    'required': True,
    'description': 'Input by the user'}}},
 'csvs': [{'name': 'alpha_phonetic',
   'connector': 'csv_connector',
   'csv_name': 'alpha_phonetic.csv'}],
 'datasets': [{'name': 'alpha_phonetic_dataset',
   'create': [{'type': 'query', 'name': 'alpha_phonetic'},
    {'type': 'function',
     'name': 'find_col_4_value',
     'fields': {'col1_value': 'base.col1'}}],
   'summarize': '{col4}',
   'remove_comma': False,
   'empty_summary': 'Value not found'}]}

Now we can add the function and test it out by inserting a value for col1

In [24]:
my_schema = pipeline.get_schema()
my_practice_fields = {"col1" : 5}
my_pipeline = StandardPipeline(fields_input_dict = my_practice_fields, json_schema = my_schema, connectors = connector_dict, functions = {"find_col_4_value": modified_find_and_return_col4})
# Runs the pipeline
my_pipeline.initialize_data()
my_pipeline.process_data()
print(my_pipeline.datasets.keys())
my_pipeline.datasets["alpha_phonetic_dataset"]

dict_keys(['alpha_phonetic_dataset'])

   col1 col2  col3  col4
5     6    F     5  Echo

OK great we are getting the correct row as the returned, now lets just make sure the null works

In [25]:
#set col1 to 15 which is not a value in the dataset
my_schema = pipeline.get_schema()
my_practice_fields = {"col1" : 15}
my_pipeline = StandardPipeline(fields_input_dict = my_practice_fields, json_schema = my_schema, connectors = connector_dict, functions = {"find_col_4_value": modified_find_and_return_col4})
# Runs the pipeline
my_pipeline.initialize_data()
my_pipeline.process_data()
print(my_pipeline.datasets.keys())
my_pipeline.datasets["alpha_phonetic_dataset"]

dict_keys(['alpha_phonetic_dataset'])

Empty DataFrame
Columns: [col1, col2, col3, col4]
Index: []

OK cool. Now we need to build the summary schema.  The summary assumes that there is more than one dataset because dsl-spa can return multiple datasets.  In this case there is only one, but that is why we have this step.

In [26]:
from dsl_spa.utils.schema import Summary

In [27]:
my_summary_answer = Summary(datasets=[alpha_phonetic_dataset])
my_summary_answer.generate_schema()

{'datasets': ['alpha_phonetic_dataset']}

And we can add that summary to the structured pipeline now

In [28]:
pipeline = StandardPipelineSchema(pipeline_name = "My_Pipeline", fields = [column_1], datasets = [alpha_phonetic_dataset], queries = [], csvs = [csv], scope = "", scope_description = "", summary=my_summary_answer)
pipeline.get_schema()

{'pipeline_name': 'My_Pipeline',
 'scope': '',
 'scope_description': '',
 'fields': {'base': {'col1': {'name': 'col1',
    'type': 'string',
    'required': True,
    'description': 'Input by the user'}}},
 'csvs': [{'name': 'alpha_phonetic',
   'connector': 'csv_connector',
   'csv_name': 'alpha_phonetic.csv'}],
 'datasets': [{'name': 'alpha_phonetic_dataset',
   'create': [{'type': 'query', 'name': 'alpha_phonetic'},
    {'type': 'function',
     'name': 'find_col_4_value',
     'fields': {'col1_value': 'base.col1'}}],
   'summarize': '{col4}',
   'remove_comma': False,
   'empty_summary': 'Value not found'}],
 'summary': {'datasets': ['alpha_phonetic_dataset']}}

Now we created the complete structured pipeline agent and we can test it out

In [29]:
my_schema = pipeline.get_schema()
my_practice_fields = {"col1" : 9}
my_pipeline = StandardPipeline(fields_input_dict = my_practice_fields, json_schema = my_schema, connectors = connector_dict, functions = {"find_col_4_value": modified_find_and_return_col4})
# Runs the pipeline
my_pipeline.initialize_data()
my_pipeline.process_data()
my_pipeline.get_summary()

'India'

And lets verify the null case

In [30]:
my_schema = pipeline.get_schema()
my_practice_fields = {"col1" : 19}
my_pipeline = StandardPipeline(fields_input_dict = my_practice_fields, json_schema = my_schema, connectors = connector_dict, functions = {"find_col_4_value": modified_find_and_return_col4})
# Runs the pipeline
my_pipeline.initialize_data()
my_pipeline.process_data()
my_pipeline.get_summary()

'Value not found'

So lets show how an output from an agent can call this structured pipeline agent.  I.e. test output from an agent now.  I.e. {
    "col1": 5,
    "pipeline": "my_pipeline"
}

In [31]:
output_from_agent = {
    "col1": 7,
    "pipeline": "my_pipeline"
}

In [32]:
output_from_agent

{'col1': 7, 'pipeline': 'my_pipeline'}

In [33]:
my_pipeline = StandardPipeline(fields_input_dict = output_from_agent, json_schema = my_schema, connectors = connector_dict, functions = {"find_col_4_value": modified_find_and_return_col4})
# Runs the pipeline
my_pipeline.initialize_data()
my_pipeline.process_data()
my_pipeline.get_summary()

'Gulf'

So, now that we have a structured pipeline agent, we can create an natural language agent to take in natural language and output the needed schema.  Let's use Superwise to do that

#**Create the Superwise Agent that will leverage the dsl-spa Structured Pipeline Agent**

Note this is a small subset of all you can do with Superwise.  
For complete Superwise capabilities visit: https://docs-swe.superwise.ai/

In [34]:
!pip install superwise-api --quiet

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.2/63.2 kB 2.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.6/165.6 kB 7.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.2/45.2 kB 2.8 MB/s eta 0:00:00

In [35]:
import os
from superwise_api.superwise_client import SuperwiseClient

os.environ['SUPERWISE_CLIENT_ID'] = 'b08bd199-58c8-43d9-b198-9b9b1382b687'
os.environ['SUPERWISE_CLIENT_SECRET'] = '82fe62af-2d3f-4809-9bd6-94accfa5e7f9'

sw = SuperwiseClient()

In [36]:
from superwise_api.models.application.application import OpenAIModel, OpenAIModelVersion
from superwise_api.models.application.application import AdvancedAgentConfig

In [ ]:
#Create your agent to receive an application request for moon distance
app = sw.application.create(
    name="Mark_dsl-spa_Example",
    additional_config=AdvancedAgentConfig(tools=[]),
    llm_model=None
)

In [ ]:
#Add your choice of LLM to the Agent

llm_model = OpenAIModel(version=OpenAIModelVersion.GPT_4, api_token="<your_open_api_key>")
app = sw.application.put(str(app.id),
                         additional_config=AdvancedAgentConfig(tools=[]),
                         llm_model=llm_model,
                         prompt=None,
                         name="Mark_dsl-spa_Example"
                        )

In [ ]:
#test the connection to the agent
try:
    sw.application.test_model_connection(llm_model)
except Exception as e:
    print("Model test connection failed!")

print("Model test connection success!")

In [ ]:
#test the agent
swe_answer = sw.application.ask_playground(
  input="What is the capital of France?",
  llm_model=llm_model,
  prompt="Just another promp",
  chat_history=[],
  additional_config=AdvancedAgentConfig(tools=[]) # Pass an AdvancedAgentConfig object
)
print(swe_answer)

In [ ]:
#add a prompt to direct the output to be only what is needed for the dsl-spa agent
example_prompt = "You are an expert in finding a number value in a prompt.  Return the number in the following format: { 'col1': number, 'pipeline': 'my_pipeline' }. Only return that format and no other text."

In [ ]:
#test the agent with the updated prompt
swe_answer = sw.application.ask_playground(
  input="What is the 8th value?",
  llm_model=llm_model,
  prompt=example_prompt,
  chat_history=[],
  additional_config=AdvancedAgentConfig(tools=[]) # Pass an AdvancedAgentConfig object
)
print(swe_answer)

In [ ]:
#this works in the playground, now lets use the deployed Superwise application
app = sw.application.put(str(app.id),
                         additional_config=AdvancedAgentConfig(tools=[]),
                         llm_model=llm_model,
                         prompt=example_prompt,
                         name="Mark_dsl-spa_Example"
                        )

In [37]:
#get the app id and the app token
app_id = sw.application.get(name="Mark_dsl-spa_Example").items[0].id
app_token = str(sw.application.get(name="Mark_dsl-spa_Example").items[0].api_token)
print(app_id)
print(app_token)

07e3357b-6ae1-4202-8b4d-72ecd287df8b
a6a53fbe-1abc-447c-b3b4-6777107aa01d

In [38]:
import requests
import json

In [39]:
def ask_application_via_api(app_id, user_input):
  endpoint_url = f"https://api.superwise.ai/v1/app-worker/{app_id}/v1/ask"

  #print(app_id)
  #print(user_input)
  #print(app_token)

  payload = {
    "chat_history": [],
    "input": user_input,
    #"prompt": prompt
  }

  headers = {
    "accept": "application/json",
    "content-type": "application/json",
    "x-api-token": app_token
}

  resp = requests.post(endpoint_url, json=payload, headers=headers)
  app_response = resp.json()
  return app_response

In [ ]:
ask_application_via_api(app_id, "What is the value associated with the input 6")["output"]

"{ 'col1': 6, 'pipeline': 'full_my_pipeline' }"

Lets see what we get when we input the text that the generic llm (pandas AI) to dataframe could not handle

In [ ]:
ask_application_via_api(app_id, "when col1 equals 1, what is the col4 row value")["output"]

"{ 'col1': 1, 'pipeline': 'full_my_pipeline' }"

Good, lets try one of the other ones to make sure it still returns that structure

In [ ]:
ask_application_via_api(app_id, "if col1 equals 1, what is the value in col4 when col3 equals col1")["output"]

"{ 'col1': 1, 'pipeline': 'full_my_pipeline' }"

#**Now simply flow the output of the Superwise Agent into dsl-spa**

In [ ]:
# we need to convert the Superwise string output to JSON

In [ ]:
# prompt: convert the output from ask_application_via_api from string to json

output_string = ask_application_via_api(app_id, "when col1 equals 1, what is the col4 row value")["output"]
print(output_string)
output_string = output_string.replace("'", '"')
print(output_string)
output_json = json.loads(output_string)
output_json

{ 'col1': 1, 'pipeline': 'full_my_pipeline' }
{ "col1": 1, "pipeline": "full_my_pipeline" }

{'col1': 1, 'pipeline': 'full_my_pipeline'}

In [ ]:
#{'col1': 7, 'pipeline': 'my_pipeline'}

In [ ]:
input = "when col1 equals 1, what is the col4 row value"
#print(input)
output_from_superwise = ask_application_via_api(app_id, input)["output"]
output_from_superwise = output_from_superwise.replace("'", '"')
#print(output_from_superwise)
output_superwise_json = json.loads(output_from_superwise)
#print(output_superwise_json)
my_pipeline = StandardPipeline(fields_input_dict = output_superwise_json, json_schema = my_schema, connectors = connector_dict, functions = {"find_col_4_value": modified_find_and_return_col4})
# Runs the pipeline
my_pipeline.initialize_data()
my_pipeline.process_data()
my_pipeline.get_summary()

'Alpha'

Let's make it a little cleaner with a function

In [40]:
def input_with_agent_and_superwise(input):
  output_from_superwise = ask_application_via_api(app_id, input)["output"]
  output_from_superwise = output_from_superwise.replace("'", '"')
  output_superwise_json = json
  output_superwise_json = json.loads(output_from_superwise)
  my_pipeline = StandardPipeline(fields_input_dict = output_superwise_json, json_schema = my_schema, connectors = connector_dict, functions = {"find_col_4_value": modified_find_and_return_col4})
  my_pipeline.initialize_data()
  my_pipeline.process_data()
  return my_pipeline.get_summary()

In [41]:
new_input = "if col1 equals 10, what is the value in col4 when col3 equals col1"

In [42]:
input_with_agent_and_superwise(new_input)

'Juliett'

In [43]:
null_input = "what is the 14th one?"

In [44]:
input_with_agent_and_superwise(null_input)

'Value not found'

***That is it.  We overcame the challenge of complex queries while still leveraging natural language. But, there are lots more you can do with [dsl-spa](https://github.com/superwise-ai/dsl-spa) including generating summaries under which to ask follow on questions and generating visualizations from those summaries.  And there is a lot more you can do with [Superwise](https://docs-swe.superwise.ai/) including adding guardrails, setting policies, monitoring usage and getting alerts***

#**Extend the demonstration**

**Add an additional pipeline**

The phonetic spelling is interesting, but we did not do the full phonetic alphabet.  Lets create an additional pipeline that has the full phonetic alphabet.

In [45]:
full_alpha_phonetic_pd = pd.DataFrame({
    'col1' : [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26],
    'col2' : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"],
    'col3' : [26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1],
    'col4' : ['Zulu', 'Yankee', 'Xray', 'Whiskey', 'Victor', 'Uniform', 'Tango', 'Sierra', 'Romeo', 'Quebec', 'Papa', 'Oscar', 'November', 'Mike', 'Lima', 'Kilo','Juliett', 'India', 'Hotel', 'Gulf', 'Foxtrot', 'Echo', 'Delta', 'Charlie', 'Bravo', 'Alpha']
})

In [46]:
#define the field in dsl-spa
full_column_1 = PipelineField(field_name = "col1",
                         field_type = "string",
                         required = True,
                         description = "Input by the user")

In [47]:
# prompt: write full_alpha_phonetic_pd to a csv
full_alpha_phonetic_pd.to_csv('full_alpha_phonetic.csv', index=False)

In [48]:
full_csv = CSV(csv_name = "full_alpha_phonetic", connector_name = "full_csv_connector", filename = "full_alpha_phonetic.csv")
#no filter needed for this use case but could use to filter the data, this is useful in other scenarios
#csv.add_column_filter(field_name = "base.customer_name", column_name = "Customer", value = "{base.customer_name}")
full_csv.generate_schema()

{'name': 'full_alpha_phonetic',
 'connector': 'full_csv_connector',
 'csv_name': 'full_alpha_phonetic.csv'}

In [49]:
full_connector = LocalCSVConnector(folder="./")
Full_connector_dict = {"full_csv_connector": full_connector}

In [50]:
full_alpha_phonetic_dataset = SummaryDataset(dataset_name="full_alpha_phonetic_dataset", summary_by_row="{col4}", empty_dataset="Value not found")
full_alpha_phonetic_dataset.create_from_query("full_alpha_phonetic")
fields = {
    "col1_value": "base.col1"
}
full_alpha_phonetic_dataset.add_function(function_name="full_find_col_4_value", function_fields_dict=fields)
full_alpha_phonetic_dataset.generate_schema()

{'name': 'full_alpha_phonetic_dataset',
 'create': [{'type': 'query', 'name': 'full_alpha_phonetic'},
  {'type': 'function',
   'name': 'full_find_col_4_value',
   'fields': {'col1_value': 'base.col1'}}],
 'summarize': '{col4}',
 'remove_comma': False,
 'empty_summary': 'Value not found'}

In [51]:
full_my_summary_answer = Summary(datasets=[full_alpha_phonetic_dataset])
full_my_summary_answer.generate_schema()

{'datasets': ['full_alpha_phonetic_dataset']}

In [52]:
full_pipeline = StandardPipelineSchema(pipeline_name = "Full_My_Pipeline", fields = [full_column_1], datasets = [full_alpha_phonetic_dataset], queries = [], csvs = [full_csv], scope = "", scope_description = "", summary=full_my_summary_answer)
full_pipeline.get_schema()

{'pipeline_name': 'Full_My_Pipeline',
 'scope': '',
 'scope_description': '',
 'fields': {'base': {'col1': {'name': 'col1',
    'type': 'string',
    'required': True,
    'description': 'Input by the user'}}},
 'csvs': [{'name': 'full_alpha_phonetic',
   'connector': 'full_csv_connector',
   'csv_name': 'full_alpha_phonetic.csv'}],
 'datasets': [{'name': 'full_alpha_phonetic_dataset',
   'create': [{'type': 'query', 'name': 'full_alpha_phonetic'},
    {'type': 'function',
     'name': 'full_find_col_4_value',
     'fields': {'col1_value': 'base.col1'}}],
   'summarize': '{col4}',
   'remove_comma': False,
   'empty_summary': 'Value not found'}],
 'summary': {'datasets': ['full_alpha_phonetic_dataset']}}

In [53]:
full_my_schema = full_pipeline.get_schema()
full_my_practice_fields = {"col1" : 19}
full_my_pipeline = StandardPipeline(fields_input_dict = full_my_practice_fields, json_schema = full_my_schema, connectors = Full_connector_dict, functions = {"full_find_col_4_value": modified_find_and_return_col4})
# Runs the pipeline
full_my_pipeline.initialize_data()
full_my_pipeline.process_data()
full_my_pipeline.get_summary()

'Sierra'

In [54]:
full_my_schema = full_pipeline.get_schema()
full_my_practice_fields = {"col1" : 29}
full_my_pipeline = StandardPipeline(fields_input_dict = full_my_practice_fields, json_schema = full_my_schema, connectors = Full_connector_dict, functions = {"full_find_col_4_value": modified_find_and_return_col4})
# Runs the pipeline
full_my_pipeline.initialize_data()
full_my_pipeline.process_data()
full_my_pipeline.get_summary()

'Value not found'

In [ ]:
#update the superwise prompt

In [ ]:
example_prompt

"You are an expert in finding a number value in a prompt.  Return the number in the following format: { 'col1': number, 'pipeline': 'my_pipeline' }. Only return that format and no other text."

In [ ]:
new_prompt = "You are an expert in finding the number value in a prompt. There are two cases. “Brian” prompt and “Mark” prompt. If Brian is mentioned in the input, return the number in the following format: { 'col1': number, 'pipeline': 'full_my_pipeline' }. If Mark is mentioned in the input, return the number in the following format: { 'col1': number, 'pipeline': 'my_pipeline' }. If neither is mentioned return: { 'col1': number, 'pipeline': 'full_my_pipeline' }. Only return that format and no other text."

In [ ]:
new_prompt

"You are an expert in finding the number value in a prompt. There are two cases. “Brian” prompt and “Mark” prompt. If Brian is mentioned in the input, return the number in the following format: { 'col1': number, 'pipeline': 'full_my_pipeline' }. If Mark is mentioned in the input, return the number in the following format: { 'col1': number, 'pipeline': 'my_pipeline' }. If neither is mentioned return: { 'col1': number, 'pipeline': 'full_my_pipeline' }. Only return that format and no other text."

In [ ]:
update_app = sw.application.get(name="Mark_dsl-spa_Example").items[0]

In [ ]:
update_app.id

UUID('07e3357b-6ae1-4202-8b4d-72ecd287df8b')

In [ ]:
llm_model = OpenAIModel(version=OpenAIModelVersion.GPT_4, api_token="<your LLM token")

In [100]:
#sw.application.put(str(update_app.id),
#                   additional_config=AdvancedAgentConfig(tools=[]),
#                   llm_model=llm_model,
#                   prompt=new_prompt,
#                   name="Mark_dsl-spa_Example"
#                  )

In [55]:
ask_application_via_api(app_id, "when col1 equals 1, what is the col4 row value")["output"]

"{ 'col1': 1, 'pipeline': 'full_my_pipeline' }"

In [ ]:
ask_application_via_api(app_id, "Mark wants to now, when col1 equals 1, what is the col4 row value")["output"]

"{ 'col1': 1, 'pipeline': 'my_pipeline' }"

In [ ]:
ask_application_via_api(app_id, "when col1 equals 1, what is the col4 row value according to Brian")["output"]

"{ 'col1': 1, 'pipeline': 'full_my_pipeline' }"

now hook up to dsl-spa pipeline based on the pipeline

In [ ]:
output_string = ask_application_via_api(app_id, "when col1 equals 1, what is the col4 row value")["output"]
print(output_string)
output_string = output_string.replace("'", '"')
print(output_string)
output_json = json.loads(output_string)
output_json

{ 'col1': 1, 'pipeline': 'full_my_pipeline' }
{ "col1": 1, "pipeline": "full_my_pipeline" }

{'col1': 1, 'pipeline': 'full_my_pipeline'}

In [ ]:
# prompt: return the 'pipeline' value of output_json
print(output_json['pipeline'])

full_my_pipeline

In [56]:
def updated_input_with_agent_and_superwise(input):
  output_from_superwise = ask_application_via_api(app_id, input)["output"]
  output_from_superwise = output_from_superwise.replace("'", '"')
  output_superwise_json = json
  output_superwise_json = json.loads(output_from_superwise)
  if output_superwise_json['pipeline'] == 'my_pipeline':
    my_pipeline = StandardPipeline(fields_input_dict = output_superwise_json, json_schema = my_schema, connectors = connector_dict, functions = {"find_col_4_value": modified_find_and_return_col4})
    my_pipeline.initialize_data()
    my_pipeline.process_data()
    return my_pipeline.get_summary()
  else:
    full_my_pipeline = StandardPipeline(fields_input_dict = output_superwise_json, json_schema = full_my_schema, connectors = Full_connector_dict, functions = {"full_find_col_4_value": modified_find_and_return_col4})
    full_my_pipeline.initialize_data()
    full_my_pipeline.process_data()
    return full_my_pipeline.get_summary()

In [57]:
updated_input = "if col1 equals 19, what is the value in col4 when col3 equals col1"

In [58]:
updated_input_with_agent_and_superwise(updated_input)

'Sierra'

In [59]:
mark_updated_input = "Mark wants to know if col1 equals 19, what is the value in col4 when col3 equals col1"

In [60]:
updated_input_with_agent_and_superwise(mark_updated_input)

'Value not found'

In [61]:
brian_updated_input = "ask Brian if col1 equals 19, what is the value in col4 when col3 equals col1"

In [62]:
updated_input_with_agent_and_superwise(brian_updated_input)

'Sierra'

**Generate a summary**

In [63]:
full_alpha_phonetic_pd

    col1 col2  col3      col4
0      1    A    26      Zulu
1      2    B    25    Yankee
2      3    C    24      Xray
3      4    D    23   Whiskey
4      5    E    22    Victor
5      6    F    21   Uniform
6      7    G    20     Tango
7      8    H    19    Sierra
8      9    I    18     Romeo
9     10    J    17    Quebec
10    11    K    16      Papa
11    12    L    15     Oscar
12    13    M    14  November
13    14    N    13      Mike
14    15    O    12      Lima
15    16    P    11      Kilo
16    17    Q    10   Juliett
17    18    R     9     India
18    19    S     8     Hotel
19    20    T     7      Gulf
20    21    U     6   Foxtrot
21    22    V     5      Echo
22    23    W     4     Delta
23    24    X     3   Charlie
24    25    Y     2     Bravo
25    26    Z     1     Alpha

In [64]:
def alpha_phonetic_summary_df(df):
  new_df_data = []
  for index, row in df.iterrows():
    col1_val = row['col1']
    col3_val = row['col3']
    # Find the row in full_alpha_phonetic_pd where col1 matches the current col3_val
    matched_row = full_alpha_phonetic_pd[full_alpha_phonetic_pd['col1'] == col3_val]
    if not matched_row.empty:
        col2_val = row['col2']
        col4_val = matched_row['col4'].iloc[0]
        new_df_data.append({'col2': col2_val, 'col4': col4_val})
  return pd.DataFrame(new_df_data)

In [65]:
alpha_phonetic_summary_df(full_alpha_phonetic_pd)

   col2      col4
0     A     Alpha
1     B     Bravo
2     C   Charlie
3     D     Delta
4     E      Echo
5     F   Foxtrot
6     G      Gulf
7     H     Hotel
8     I     India
9     J   Juliett
10    K      Kilo
11    L      Lima
12    M      Mike
13    N  November
14    O     Oscar
15    P      Papa
16    Q    Quebec
17    R     Romeo
18    S    Sierra
19    T     Tango
20    U   Uniform
21    V    Victor
22    W   Whiskey
23    X      Xray
24    Y    Yankee
25    Z      Zulu

In [66]:
#define the field in dsl-spa
full_column_2 = PipelineField(field_name = "col2",
                         field_type = "string",
                         required = True,
                         description = "Input by the user")

In [67]:
lookup_full_alpha_phonetic_dataset = SummaryDataset(dataset_name="lookup_full_alpha_phonetic_dataset", summary_by_row="The phonetic word for letter {col2} is {col4}. ", empty_dataset="Value not found")
lookup_full_alpha_phonetic_dataset.create_from_query("full_alpha_phonetic")
lookup_fields = {
    "col2_value": "base.col2"
}
lookup_full_alpha_phonetic_dataset.add_function(function_name="alpha_phonetic_summary_df", function_fields_dict=lookup_fields)
lookup_full_alpha_phonetic_dataset.generate_schema()

{'name': 'lookup_full_alpha_phonetic_dataset',
 'create': [{'type': 'query', 'name': 'full_alpha_phonetic'},
  {'type': 'function',
   'name': 'alpha_phonetic_summary_df',
   'fields': {'col2_value': 'base.col2'}}],
 'summarize': 'The phonetic word for letter {col2} is {col4}. ',
 'remove_comma': False,
 'empty_summary': 'Value not found'}

In [68]:
lookup_full_my_summary_answer = Summary(datasets=[lookup_full_alpha_phonetic_dataset])
lookup_full_my_summary_answer.generate_schema()

{'datasets': ['lookup_full_alpha_phonetic_dataset']}

In [69]:
lookup_full_pipeline = StandardPipelineSchema(pipeline_name = "Lookup_Full_My_Pipeline", fields = [full_column_2], datasets = [lookup_full_alpha_phonetic_dataset], queries = [], csvs = [full_csv], scope = "", scope_description = "", summary=lookup_full_my_summary_answer)
lookup_full_pipeline.get_schema()

{'pipeline_name': 'Lookup_Full_My_Pipeline',
 'scope': '',
 'scope_description': '',
 'fields': {'base': {'col2': {'name': 'col2',
    'type': 'string',
    'required': True,
    'description': 'Input by the user'}}},
 'csvs': [{'name': 'full_alpha_phonetic',
   'connector': 'full_csv_connector',
   'csv_name': 'full_alpha_phonetic.csv'}],
 'datasets': [{'name': 'lookup_full_alpha_phonetic_dataset',
   'create': [{'type': 'query', 'name': 'full_alpha_phonetic'},
    {'type': 'function',
     'name': 'alpha_phonetic_summary_df',
     'fields': {'col2_value': 'base.col2'}}],
   'summarize': 'The phonetic word for letter {col2} is {col4}. ',
   'remove_comma': False,
   'empty_summary': 'Value not found'}],
 'summary': {'datasets': ['lookup_full_alpha_phonetic_dataset']}}

In [70]:
def modified_alpha_phonetic_summary_df(df, col2_value):
  new_df_data = []
  for index, row in df.iterrows():
    col1_val = row['col1']
    col3_val = row['col3']
    # Find the row in full_alpha_phonetic_pd where col1 matches the current col3_val
    matched_row = full_alpha_phonetic_pd[full_alpha_phonetic_pd['col1'] == col3_val]
    if not matched_row.empty:
        col2_val = row['col2']
        col4_val = matched_row['col4'].iloc[0]
        new_df_data.append({'col2': col2_val, 'col4': col4_val})
  return pd.DataFrame(new_df_data)

In [71]:
lookup_full_my_schema = lookup_full_pipeline.get_schema()
lookup_full_my_practice_fields = {"col2" : "B"}
lookup_full_my_pipeline = StandardPipeline(fields_input_dict = lookup_full_my_practice_fields, json_schema = lookup_full_my_schema, connectors = Full_connector_dict, functions = {"alpha_phonetic_summary_df": modified_alpha_phonetic_summary_df})
# Runs the pipeline
lookup_full_my_pipeline.initialize_data()
lookup_full_my_pipeline.process_data()
lookup_full_my_pipeline.get_summary()

'The phonetic word for letter A is Alpha. The phonetic word for letter B is Bravo. The phonetic word for letter C is Charlie. The phonetic word for letter D is Delta. The phonetic word for letter E is Echo. The phonetic word for letter F is Foxtrot. The phonetic word for letter G is Gulf. The phonetic word for letter H is Hotel. The phonetic word for letter I is India. The phonetic word for letter J is Juliett. The phonetic word for letter K is Kilo. The phonetic word for letter L is Lima. The phonetic word for letter M is Mike. The phonetic word for letter N is November. The phonetic word for letter O is Oscar. The phonetic word for letter P is Papa. The phonetic word for letter Q is Quebec. The phonetic word for letter R is Romeo. The phonetic word for letter S is Sierra. The phonetic word for letter T is Tango. The phonetic word for letter U is Uniform. The phonetic word for letter V is Victor. The phonetic word for letter W is Whiskey. The phonetic word for letter X is Xray. The phonetic word for letter Y is Yankee. The phonetic word for letter Z is Zulu. '

In [72]:
lookup_full_my_schema = lookup_full_pipeline.get_schema()
lookup_full_my_practice_fields = {"col2" : "B"}
lookup_full_my_pipeline = StandardPipeline(fields_input_dict = lookup_full_my_practice_fields, json_schema = lookup_full_my_schema, connectors = Full_connector_dict, functions = {"alpha_phonetic_summary_df": modified_alpha_phonetic_summary_df})
# Runs the pipeline
lookup_full_my_pipeline.initialize_data()
lookup_full_my_pipeline.process_data()
phonetic_summary = lookup_full_my_pipeline.get_summary()

In [73]:
phonetic_summary

'The phonetic word for letter A is Alpha. The phonetic word for letter B is Bravo. The phonetic word for letter C is Charlie. The phonetic word for letter D is Delta. The phonetic word for letter E is Echo. The phonetic word for letter F is Foxtrot. The phonetic word for letter G is Gulf. The phonetic word for letter H is Hotel. The phonetic word for letter I is India. The phonetic word for letter J is Juliett. The phonetic word for letter K is Kilo. The phonetic word for letter L is Lima. The phonetic word for letter M is Mike. The phonetic word for letter N is November. The phonetic word for letter O is Oscar. The phonetic word for letter P is Papa. The phonetic word for letter Q is Quebec. The phonetic word for letter R is Romeo. The phonetic word for letter S is Sierra. The phonetic word for letter T is Tango. The phonetic word for letter U is Uniform. The phonetic word for letter V is Victor. The phonetic word for letter W is Whiskey. The phonetic word for letter X is Xray. The phonetic word for letter Y is Yankee. The phonetic word for letter Z is Zulu. '

**Hookup to Superwise**

In [74]:
question_and_summary_input = "question:  <what is the phonetic word for B?> context: <" + phonetic_summary + ">"

In [75]:
question_and_summary_input

'question:  <what is the phonetic word for B?> context: <The phonetic word for letter A is Alpha. The phonetic word for letter B is Bravo. The phonetic word for letter C is Charlie. The phonetic word for letter D is Delta. The phonetic word for letter E is Echo. The phonetic word for letter F is Foxtrot. The phonetic word for letter G is Gulf. The phonetic word for letter H is Hotel. The phonetic word for letter I is India. The phonetic word for letter J is Juliett. The phonetic word for letter K is Kilo. The phonetic word for letter L is Lima. The phonetic word for letter M is Mike. The phonetic word for letter N is November. The phonetic word for letter O is Oscar. The phonetic word for letter P is Papa. The phonetic word for letter Q is Quebec. The phonetic word for letter R is Romeo. The phonetic word for letter S is Sierra. The phonetic word for letter T is Tango. The phonetic word for letter U is Uniform. The phonetic word for letter V is Victor. The phonetic word for letter W is Whiskey. The phonetic word for letter X is Xray. The phonetic word for letter Y is Yankee. The phonetic word for letter Z is Zulu. >'

In [76]:
summary_app_id = sw.application.get(name="Mark_dsl-spa_Example_respond_to_summary").items[0].id
summary_app_token = str(sw.application.get(name="Mark_dsl-spa_Example_respond_to_summary").items[0].api_token)
print(app_id)
print(app_token)

07e3357b-6ae1-4202-8b4d-72ecd287df8b
a6a53fbe-1abc-447c-b3b4-6777107aa01d

In [ ]:
new_prompt

"You are an expert in finding the number value in a prompt. There are two cases. “Brian” prompt and “Mark” prompt. If Brian is mentioned in the input, return the number in the following format: { 'col1': number, 'pipeline': 'full_my_pipeline' }. If Mark is mentioned in the input, return the number in the following format: { 'col1': number, 'pipeline': 'my_pipeline' }. If neither is mentioned return: { 'col1': number, 'pipeline': 'full_my_pipeline' }. Only return that format and no other text."

In [ ]:
updated_prompt_with_summary = "You are an expert in finding the number value in a prompt. There are three cases. Two of them are the “Brian” prompt and “Mark” prompt. If Brian is mentioned in the input, return the number in the following format: { 'col1': number, 'pipeline': 'full_my_pipeline' }. If Mark is mentioned in the input, return the number in the following format: { 'col1': number, 'pipeline': 'my_pipeline' }. If neither is mentioned return: { 'col1': number, 'pipeline': 'full_my_pipeline' }. For the third case, if the question asked for the phonetic word for a letter return: { 'col2': letter, 'pipeline': 'lookup_full_pipeline' }. Only return that format and no other text."

In [101]:
#sw.application.put(str(update_app.id),
#                   additional_config=AdvancedAgentConfig(tools=[]),
#                   llm_model=llm_model,
#                   prompt=updated_prompt_with_summary,
#                   name="Mark_dsl-spa_Example"
#                  )

In [ ]:
ask_application_via_api(app_id, "when col1 equals 1, what is the col4 row value according to Brian")["output"]

"{ 'col1': 1, 'pipeline': 'full_my_pipeline' }"

In [77]:
ask_application_via_api(app_id, "what is the phonetic word for J")["output"]

"{ 'col2': 'J', 'pipeline': 'lookup_full_pipeline' }"

In [78]:
def summary_ask_application_via_api(app_id, user_input):
  endpoint_url = f"https://api.superwise.ai/v1/app-worker/{app_id}/v1/ask"

  #print(app_id)
  #print(user_input)
  #print(app_token)

  payload = {
    "chat_history": [],
    "input": user_input,
    #"prompt": prompt
  }

  headers = {
    "accept": "application/json",
    "content-type": "application/json",
    "x-api-token": summary_app_token
}

  resp = requests.post(endpoint_url, json=payload, headers=headers)
  app_response = resp.json()
  return app_response

In [79]:
summary_ask_application_via_api(summary_app_id, question_and_summary_input)["output"]

'Bravo'

In [ ]:
output_from_superwise = ask_application_via_api(app_id, "what is the phonetic word for J")["output"]
output_from_superwise = output_from_superwise.replace("'", '"')
output_superwise_json = json
output_superwise_json = json.loads(output_from_superwise)
output_superwise_json

{'col2': 'J', 'pipeline': 'lookup_full_pipeline'}

In [80]:
def updated_input_with_summary(input):
  output_from_superwise = ask_application_via_api(app_id, input)["output"]
  output_from_superwise = output_from_superwise.replace("'", '"')
  output_superwise_json = json
  output_superwise_json = json.loads(output_from_superwise)
  if output_superwise_json['pipeline'] == 'my_pipeline':
    my_pipeline = StandardPipeline(fields_input_dict = output_superwise_json, json_schema = my_schema, connectors = connector_dict, functions = {"find_col_4_value": modified_find_and_return_col4})
    my_pipeline.initialize_data()
    my_pipeline.process_data()
    return my_pipeline.get_summary()
  elif output_superwise_json['pipeline'] == 'full_my_pipeline':
    full_my_pipeline = StandardPipeline(fields_input_dict = output_superwise_json, json_schema = full_my_schema, connectors = Full_connector_dict, functions = {"full_find_col_4_value": modified_find_and_return_col4})
    full_my_pipeline.initialize_data()
    full_my_pipeline.process_data()
    return full_my_pipeline.get_summary()
  else:
    lookup_full_pipeline = StandardPipelineSchema(pipeline_name = "Lookup_Full_My_Pipeline", fields = [full_column_2], datasets = [lookup_full_alpha_phonetic_dataset], queries = [], csvs = [full_csv], scope = "", scope_description = "", summary=lookup_full_my_summary_answer)
    lookup_full_my_schema = lookup_full_pipeline.get_schema()
    lookup_full_my_practice_fields = {"col2" : "B"}
    lookup_full_my_pipeline = StandardPipeline(fields_input_dict = lookup_full_my_practice_fields, json_schema = lookup_full_my_schema, connectors = Full_connector_dict, functions = {"alpha_phonetic_summary_df": modified_alpha_phonetic_summary_df})
    # Runs the pipeline
    lookup_full_my_pipeline.initialize_data()
    lookup_full_my_pipeline.process_data()
    phonetic_summary = lookup_full_my_pipeline.get_summary()
    question_and_summary_input = "question:  <" + input + "> context: <" + phonetic_summary + ">"
    summary_answer = summary_ask_application_via_api(summary_app_id, question_and_summary_input)["output"]
    return summary_answer

In [81]:
updated_input_with_summary("what is the phonetic word for J")

'The phonetic word for the letter J is Juliett.'

In [82]:
updated_input_with_summary("when col1 equals 16, what is the col4 row value according to Brian")

'Papa'

In [83]:
updated_input_with_summary("Mark wants to know when col1 equals 16, what is the col4 row value")
#

'Value not found'

**Create a graph using dsl-spa**

In [84]:
!pip install vega --quiet

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 29.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 190.2/190.2 kB 12.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 88.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 46.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.1/69.1 kB 1.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 386.9/386.9 kB 21.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.5/133.5 kB 9.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.7/59.7 kB 3.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 61.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.4/66.4 kB 3.9 MB/s eta 0:00:00

In [85]:
import altair

In [86]:
from dsl_spa.utils.schema import PipelineField, CSV, Filter, Dataset, SummaryDataset, Summary, PieChart, LineGraph, StandardPipelineSchema

In [87]:
fa_df = pd.read_csv('full_alpha_phonetic.csv')
fa_df.head()

   col1 col2  col3     col4
0     1    A    26     Zulu
1     2    B    25   Yankee
2     3    C    24     Xray
3     4    D    23  Whiskey
4     5    E    22   Victor

In [88]:
fa_df["col4"].value_counts()

col4
Zulu        1
Yankee      1
Xray        1
Whiskey     1
Victor      1
Uniform     1
Tango       1
Sierra      1
Romeo       1
Quebec      1
Papa        1
Oscar       1
November    1
Mike        1
Lima        1
Kilo        1
Juliett     1
India       1
Hotel       1
Gulf        1
Foxtrot     1
Echo        1
Delta       1
Charlie     1
Bravo       1
Alpha       1
Name: count, dtype: int64

In [89]:
fa_csv = CSV("fa", "CSV", "full_alpha_phonetic.csv")

In [90]:
faDataset = Dataset("faDataset")
faDataset.create_from_query("fa")
fa_params = {
    "index_field": "col4",
    "value_field": "count",
    "label_field": "Phonetic Category"
}
faDataset.add_function(function_name="build_pie_graph", function_params_dict=fa_params)
faDataset.generate_schema()

{'name': 'faDataset',
 'create': [{'type': 'query', 'name': 'fa'},
  {'type': 'function',
   'name': 'build_pie_graph',
   'params': {'index_field': 'col4',
    'value_field': 'count',
    'label_field': 'Phonetic Category'}}]}

In [91]:
fa_Pie_Graph = PieChart(faDataset, "Phonetics By Category","Phonetics Split by Phonetic", "count", "Phonetic Category")
fa_Pie_Graph.generate_schema()

{'type': 'pie',
 'dataset': 'faDataset',
 'title': 'Phonetics By Category',
 'value_column': 'count',
 'label_column': 'Phonetic Category',
 'description': 'Phonetics Split by Phonetic',
 'tooltip': True}

In [92]:
fa_pipeline_schema = StandardPipelineSchema(pipeline_name="Phonetic List",
                                         fields=[],
                                         queries=[],
                                         csvs=[fa_csv],
                                         datasets=[faDataset],
                                         scope="",
                                         scope_description="",
                                         visualizations=[fa_Pie_Graph])
fa_pipeline_schema.get_schema()

{'pipeline_name': 'Phonetic List',
 'scope': '',
 'scope_description': '',
 'fields': {},
 'csvs': [{'name': 'fa',
   'connector': 'CSV',
   'csv_name': 'full_alpha_phonetic.csv'}],
 'datasets': [{'name': 'faDataset',
   'create': [{'type': 'query', 'name': 'fa'},
    {'type': 'function',
     'name': 'build_pie_graph',
     'params': {'index_field': 'col4',
      'value_field': 'count',
      'label_field': 'Phonetic Category'}}]}],
 'visualizations': [{'type': 'pie',
   'dataset': 'faDataset',
   'title': 'Phonetics By Category',
   'value_column': 'count',
   'label_column': 'Phonetic Category',
   'description': 'Phonetics Split by Phonetic',
   'tooltip': True}]}

In [93]:
fa_connector = LocalCSVConnector(folder="./")
fa_connector_dict = {"CSV": fa_connector}
fa_pipeline = StandardPipeline(fields_input_dict={},
                            json_schema=fa_pipeline_schema.get_schema(),
                            connectors=fa_connector_dict)

In [94]:
fa_pipeline.initialize_data()

In [95]:
fa_pipeline.process_data()

In [96]:
altair.renderers.enable('colab')

RendererRegistry.enable('colab')

In [97]:
fa_Pie_Graph = fa_pipeline.get_visualizations()["Phonetics By Category"]

In [98]:
fa_Pie_Graph

{'vega_lite': {'config': {'view': {'continuousWidth': 300,
    'continuousHeight': 300}},
  'data': {'name': 'data-b9d2e5d1a75bc3f7b118febfcac46730'},
  'mark': {'type': 'arc', 'tooltip': True},
  'encoding': {'color': {'field': 'Phonetic Category', 'type': 'nominal'},
   'theta': {'field': 'count', 'type': 'quantitative'}},
  'title': 'Phonetics By Category',
  '$schema': 'https://vega.github.io/schema/vega-lite/v5.20.1.json',
  'datasets': {'data-b9d2e5d1a75bc3f7b118febfcac46730': [{'count': 1,
     'Phonetic Category': 'Zulu'},
    {'count': 1, 'Phonetic Category': 'Yankee'},
    {'count': 1, 'Phonetic Category': 'Xray'},
    {'count': 1, 'Phonetic Category': 'Whiskey'},
    {'count': 1, 'Phonetic Category': 'Victor'},
    {'count': 1, 'Phonetic Category': 'Uniform'},
    {'count': 1, 'Phonetic Category': 'Tango'},
    {'count': 1, 'Phonetic Category': 'Sierra'},
    {'count': 1, 'Phonetic Category': 'Romeo'},
    {'count': 1, 'Phonetic Category': 'Quebec'},
    {'count': 1, 'Phonetic Category': 'Papa'},
    {'count': 1, 'Phonetic Category': 'Oscar'},
    {'count': 1, 'Phonetic Category': 'November'},
    {'count': 1, 'Phonetic Category': 'Mike'},
    {'count': 1, 'Phonetic Category': 'Lima'},
    {'count': 1, 'Phonetic Category': 'Kilo'},
    {'count': 1, 'Phonetic Category': 'Juliett'},
    {'count': 1, 'Phonetic Category': 'India'},
    {'count': 1, 'Phonetic Category': 'Hotel'},
    {'count': 1, 'Phonetic Category': 'Gulf'},
    {'count': 1, 'Phonetic Category': 'Foxtrot'},
    {'count': 1, 'Phonetic Category': 'Echo'},
    {'count': 1, 'Phonetic Category': 'Delta'},
    {'count': 1, 'Phonetic Category': 'Charlie'},
    {'count': 1, 'Phonetic Category': 'Bravo'},
    {'count': 1, 'Phonetic Category': 'Alpha'}]}},
 'description': 'Phonetics Split by Phonetic'}

In [99]:
fa_vega_lite_spec = fa_Pie_Graph['vega_lite']
fa_chart = altair.Chart.from_dict(fa_vega_lite_spec)
fa_chart

alt.Chart(...)